{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">

<body>
    <div class="header">
      {% if user.is_anonymous %}
      <h1 align="center" id="head">ForeverFood</h1>
      <a href="/accounts/login">login</a>
      {% else %}
      <p id="id">
      Current User:<br>
      {{ user }}
      </p>
      <h1 align="center" id="head">ForeverFood</h1>
      <a href="/accounts/logout">logout</a>
      {% endif %}

    </div>

    {% block content %}
    {% endblock %}
</body>
