comar==2.4.7
Django==1.10.3
django-extensions==1.7.4
doflicky==5
mutagen==1.29
piksemel==1.3.1
pisi==3.2
psutil==4.1.0
pwquality==1.3.0
pycups==1.9.73
pycurl==7.19.0
pygeoip==0.2.7
pygobject==3.20.1
pyliblzma==0.5.3
pyparted==3.10
python-magic==0.4.3
requests==2.7.0
six==1.10.0
solus-sc==14.0
urlgrabber==3.10.1
virtualenv==15.0.3
